{% load static sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static "css/bio.css" %}"/>{% endaddtoblock %}

<h2>{{ instance.source }}</h2>

<div class="photos"/>
{% for user in users %}

  <div class="galleryitem">
    <a class="link" href="{{ user.get_absolute_url }}"><img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}" title="{{ user }}"/></a>
    <p title="{{ user.email }}"><a href="{{ user.get_absolute_url }}">{{ user }}</a></p>
  </div>

{% endfor %}
</div>

