{% extends "error/base.html" %}
{% load i18n %}

{% block "error-msg" %}
  <h1>{% block title %}{% trans "Page Not Found" %}{% endblock %}</h1>
  {% blocktrans trimmed %}
    <p>Couldn't find what you were looking for.</p>
    <p>If you don't know why you got here, maybe you'd like to <a href="/search/">search</a> to see if you can find what you were looking for.</p>
    <hr/>
    <p>If you've followed a link from our site, or are using a link that used to work before, please tell us <a href="https://gitlab.com/inkscape/inkscape-web/issues">here</a> and we'll fix it.</p>
  {% endblocktrans %} 
{% endblock %}
